<!-- extend base layout -->
{% extends "base.html" %}

{% block css %}
<!--
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/epoch/0.6.0/epoch.min.css">
-->
{% endblock %} 
{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-rocket"></i> Hypervisors list<small> System hypervisors</small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="btn-new-hyper"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a></li>
          <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="hypervisors" class="table">
          <thead>
            <tr>
              <th></th>
              <th>enabled</th>
              <th>status</th>
              <th>id</th>
              <th>hostname</th>
              <th>vpn</th>
              <th>static</th>
              <th>proxy_video</th>
              <th>proxy_hyper_host</th>
              <th>qemu</th>
              <th>libvirt</th>
              <th>hyper</th>
              <th>mem</th>
              <th>th</th>
              <th>disk op</th>
              <th>hyp op</th>
              <th>only forced</th>
              <th>Last status change</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-object-group"></i> Hypervisors pools list<small> Pools grouping</small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <!--<li><a class="btn-new-pool"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a></li>-->
          <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="hypervisors_pools" class="table">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include '/admin/pages/hypervisors_modals.html' %}
  {% include '/admin/pages/hypervisors_detail.html' %}
  {% include '/admin/pages/hypervisor_pool_detail.html' %}
</div>
{% endblock %}

{% block pagescript %}
<!--
    <script src="/isard-admin/bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/epoch/0.6.0/epoch.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.5.2/polymer.js"></script>
-->
    
    <script src="/isard-admin/static/js/restful.js"></script>
    <script src="/isard-admin/static/admin/js/hypervisors.js"></script>  
    <script src="/isard-admin/static/admin/js/hypervisors_detail.js"></script> 
    <script src="/isard-admin/static/admin/js/hypervisors_pools.js"></script>           
{% endblock %}
